html {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--backgrounds);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
}

.banner {
    display: flex;
    width: auto;
    height: 90px;
    margin: 0px;
    padding: 0px;
    background-color: var(--backgrounds);
}

.tittle {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    margin-left: 35px;
    width: 50%;
    color: var(--primary);
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
}

a.links {
    text-decoration: none;
    color: var(--primary);
}

a.links:hover{
    color: var(--primary_variant);
}

.icon {
    width: 100%;
}

i.material-icons {
    display: flex;
    justify-content: right;
    margin-right: 50px;
    margin-top: 24px;
    color: var(--primary); 
    font-size: 40px;
}

i.material-icons:hover {
    color: var(--primary_variant);
}

.titulo-pag {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 25px;
    white-space: nowrap;
    color: var(--primary_variant);
}

.grid {
    width: 100%;
}

.wrapper {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-rows: auto;
    grid-template-columns: auto;
}

.box {
    margin-top: 10px;
    width: auto;
    grid-column: auto;
    grid-row: auto;
    justify-self: center;
}

.articulo-box {
    display: grid;
    width: 70%;
    height: auto;
    background-color: var(--primary_variant);
    border-radius: 15px;
    overflow: hidden;
}

.articulo-box h2 {
    grid-column: 2;
    grid-row: 1;
    color: var(--backgrounds);
    text-align: center;
    justify-self: center;
    align-self: center;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 40px;
    white-space: nowrap;
}

.articulo-box img {
    grid-column: 1;
    grid-row: 1/4;
    width: 40rem;
    justify-self: center;
    align-self: center;
    background-color: var(--imgbg);
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.articulo-box p {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    font-size: 25px;
    justify-self: center;
    color: black;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
}

.articulo-box a {
    grid-column: 2;
    grid-row: 3;
    margin: auto;
    justify-self: center;
    align-self: center;
    background-color: var(--imgbg);
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    color: var(--secondary);
    border-radius: 15px;
}

:root {
    --primary: #BB86FC;
    --primary_variant: #bb86fcb2;
    --secondary: #e6d2ff;
    --backgrounds: #121212;
    --imgbg: #121212a6;
    --different: #CF6679;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,900&display=swap');